{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <h1>Ваш личный кабинет заказчика</h1>
    <hr>
    <h2>Редактирование информации о себе</h2>
    {{ form.errors }}
    <form method="post" action="{% url 'customer:profile' %}">
        {% csrf_token %}
        <div class="w-25">
            <div>
                <label class="form-label" for="firstName">Имя (обязательное поле):</label>
                {{ form.first_name }}
            </div>
            <div>
                <label class="form-label" for="lastName">Фамилия (обязательное поле):</label>
                {{ form.last_name }}
            </div>
            <div>
                <label class="form-label" for="typePhone">Номер телефона (не обязательное поле):</label>
                {{ form.phone }}
            </div>
            <div>
                <label class="form-label" for="email">Email (не обязательное поле):</label>
                {{ form.email }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </div>
    </form>


{% endblock %}
